<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>242832954187-jsaoh24v8vj7oo79hca7dfci17l4slj2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242832954187-jsaoh24v8vj7oo79hca7dfci17l4slj2</string>
	<key>API_KEY</key>
	<string>AIzaSyCWVQKLkQ1CSKy_69QdI6glpR55QuvuHUM</string>
	<key>GCM_SENDER_ID</key>
	<string>242832954187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trinhhc.Roommate</string>
	<key>PROJECT_ID</key>
	<string>accommodation-ad340</string>
	<key>STORAGE_BUCKET</key>
	<string>accommodation-ad340.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242832954187:ios:42aa87e66f76230b</string>
	<key>DATABASE_URL</key>
	<string>https://accommodation-ad340.firebaseio.com</string>
</dict>
</plist>